/*
    CozyGlow CSS Variables
    ======================
    This includes color schemes engineered for light and dark modes,
    as well as some base styles for body and html elements.
*/

/* Classic nifty trick, helps with padding auto-sizing. */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    min-height: 200px;
    height: 90%;
    margin: 0;
}

body {
    margin: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    /*background-color: var(--bg-darker);*/
    font-family: var(--font-stack);

    /* A gradient header (isn't working well with the current pallete) */
    /*background-image: linear-gradient(to bottom, var(--color-primary) 4rem, white);
    background-repeat: no-repeat;
    background-size: 100% 8rem;    */
}

/*
    Modifiers, utilities
*/
.hidden {
    display: none !important;
}

/*
    Elements
*/
.header {
    background-color: var(--color-surface);
    color: var(--color-text-primary);
    padding: 0.8rem;
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem; 
}
    .header.shaded{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

.button {
    background-color: var(--color-surface);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
    .button.neutral {
        background-color: var(--color-surface-alt);
        color: var(--color-text-primary);
        border: 1px solid var(--color-border);
    }

    .button.pill {
        border-radius: 9999px;
    }

    .button.borderless {
        border: none;
    }

    .button:hover {
        background-color: var(--color-primary-hover);
    }

    

.arrow {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; 
    border-left: 6px solid var(--color-primary);
    margin-right: 0.5rem;
}
    .arrow.animated {
        transition: transform 0.16s ease;
    }

    .arrow.pointing-down {
        transform: rotate(90deg);
    }

    .arrow.pointing-up {
        transform: rotate(-90deg);
    }

    .arrow.pointing-right {
        transform: rotate(0deg);
    }

    .arrow.pointing-left {
        transform: rotate(180deg);
    }

.row {
    display: flex;
    align-items: center;
}